.container {
  display: flex;
  background-image: url("../public/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("../public/assets/crew/background-crew-tablet.jpg");
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: url("../public/assets/crew/background-crew-mobile.jpg");
  }
}
