.container {
  display: flex;
  background-image: url("../public/assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  /* min-height: 100vh; */
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 13.25em 10.375em 0;
}

.firstHalf {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  gap: 1.75em;
}

.white {
  color: white;
}

.image {
  /* width: 100%; */
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  margin-top: 2.125em;
}

.cluster {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.role {
  color: hsl(0, 0%, 100%, 0.5);
}

.bioContainer {
  width: 27.75em;
}

.sliderButtonsContainer {
  display: flex;
  justify-self: end;
  gap: 1.5em;
  margin-bottom: 5.5em;
}

.sliderButton {
  width: 1em;
  height: 1em;
  border-radius: 100em;
  outline: 0;
  border: 0;
  background-color: hsl(0, 0%, 100%, 0.17);
  cursor: pointer;
}

.sliderButton:hover {
  background-color: hsl(0, 0%, 100%, 0.5);
  transition: all 0.1s ease-in-out;
}

.active {
  background-color: white;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("../public/assets/crew/background-crew-tablet.jpg");
  }

  .main {
    flex-direction: column;
    padding: 8.5em 2.375em 0;
    gap: 2.5em;
    overflow: hidden;
  }

  .firstHalf {
    height: min-content;
    gap: 2.5em;
  }

  .description {
    margin: 0 auto;
    margin-top: 1.25em;
    gap: 1em;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .bioContainer {
    width: 85%;
  }

  .sliderButtonsContainer {
    margin: 0 auto;
  }

  .image {
    max-width: 60%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: url("../public/assets/crew/background-crew-mobile.jpg");
  }
}
