.container {
  display: flex;
  background-image: url("../public/assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-start;
  width: 100%;

  min-height: 100vh;
}

.white {
  color: var(--color-white);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 13em 10.375em 7em;
  gap: 4em;
  justify-content: space-between;
}

.headingContainer {
  display: flex;
  gap: 1.75em;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 4em;
  height: 100%;
}

.image {
  margin: 0;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 2.25em;
  width: 40%;
  height: 100%;
}

.labelsContainer {
  display: flex;
  gap: 2.25em;
}

.selectorButton {
  background-color: transparent;
  color: inherit;
  padding: 0;
  width: min-content;
  height: min-content;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding-bottom: 0.75em;
}

.active {
  border-bottom: 3px solid white;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
}

.lastSection {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: white;
  opacity: 25%;
}

.clusterContainer {
  display: flex;
  gap: 4.25em;
}

.cluster {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("../public/assets/destination/background-destination-tablet.jpg");
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: url("../public/assets/destination/background-destination-mobile.jpg");
  }
}
