:root {
  --color-black: #0b0d17;
  --color-grey: #616476;
  --color-light-blue: #d0d6f9;
  --color-white: #ffffff;

  /* Heading 1, Heading 2, Heading 3, Heading 4, Subheading 1 */
  --font-family-serif: "Bellefair", serif;
  /* Heading 5, Subheading2, Nav Text */
  --font-family-sans-serif-condensed: "Barlow Condensed", sans-serif;
  /* Body Text */
  --font-family-sans-serif: "Barlow", sans-serif;

  /* Heading 1 desktop */
  --font-size-largest: 9.375em;
  /* Heading 2 Desktop */
  --font-size-xxxlarge: 6.25em;
  /* Heading 3 Desktop */
  --font-size-xxlarge: 3.5em;
  /* Heading 4 desktop */
  --font-size-xlarge: 2em;
  /* Heading 5 Desktop, Subheading 1 desktop */
  --font-size-large: 1.75em;
  /* Body Text desktop */
  --font-size-regular: 1.125em;
  /* Nav Text desktop */
  --font-size-small: 1em;
  /* Subheading 2 desktop / Nav Text Tablet */
  --font-size-smaller: 0.875em;

  --letter-spacing-heading5: 4.75px;
  --letter-spacing-subheading2: 2.35px;
  --letter-spacing-nav-text: 2.7px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-sans-serif);
  overflow-x: hidden;
  color: var(--color-light-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.heading1 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-largest);
  font-weight: 400;
  color: var(--color-white);
}

.heading2 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxxlarge);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-white);
}

.heading3 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xxlarge);
  font-weight: 400;
}

.heading4 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-xlarge);
  font-weight: 400;
  text-transform: uppercase;
  /* color: var(--color-white); */
}

.heading5 {
  font-family: var(--font-family-sans-serif-condensed);
  font-size: var(--font-size-large);
  letter-spacing: var(--letter-spacing-heading5);
  font-weight: 400;
  text-transform: uppercase;
}

.subheading1 {
  font-family: var(--font-family-serif);
  font-size: var(--font-size-large);
  font-weight: 400;
}

.subheading2 {
  font-family: var(--font-family-sans-serif-condensed);
  font-size: var(--font-size-smaller);
  letter-spacing: var(--letter-spacing-subheading2);
  font-weight: 400;
  text-transform: uppercase;
}

.navText {
  font-family: var(--font-family-sans-serif-condensed);
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-nav-text);
  text-transform: uppercase;
  font-weight: 400;
}

.navNumber {
  font-family: var(--font-family-sans-serif-condensed);
  font-size: var(--font-size-small);
  letter-spacing: var(--letter-spacing-nav-text);
  font-weight: 700;
}

.bodyText {
  font-family: var(--font-family-sans-serif);
  font-size: var(--font-size-regular);
  font-weight: 400;
  line-height: 2em;
}

.number {
  color: var(--color-white);
  font-weight: 700;
  opacity: 25%;
}

@media screen and (max-width: 768px) {
  .navNumber {
    display: none;
  }

  .navText {
    font-size: var(--font-size-smaller);
  }

  .bodyText {
    font-size: var(--font-size-small);
    line-height: 1.75em;
  }

  .heading5 {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 480px) {
  .navNumber {
    display: inline-block;
  }

  .navText {
    font-size: var(--font-size-small);
  }

  .bodyText {
    font-size: 15px;
  }

  .heading5 {
    font-size: var(--font-size-small);
  }

  .heading1 {
    font-size: 5rem;
  }

  .heading4 {
    font-size: 1.25rem;
    line-height: 1.4325em;
  }
}
