.container {
  display: flex;
  background-image: url("../public/assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.mainContent {
  display: flex;
  width: 100%;
  padding: 8.25em 10.375em;
  justify-content: space-between;
  margin: 0;
  flex-wrap: wrap;
  align-items: flex-end;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 27.75em;
  flex-wrap: wrap;
  width: min-content;
}

.exploreButton {
  width: 17.125rem;
  height: 17.125rem;
  border-radius: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
  color: var(--color-black);
  background-color: var(--color-white);
}

.exploreButton:hover {
  outline: 5.5rem solid rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in;
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }

  .mainContent {
    flex-direction: column;
    padding: 12.625em 0 5.625em;
    margin: 0 10em;
    gap: 9.75em;
    align-items: center;
  }

  .textContainer {
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .exploreButton {
    width: 15.125em;
    height: 15.125em;
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: url("../public/assets/home/background-home-mobile.jpg");
    padding: 0;
  }

  .mainContent {
    padding: 7em 1.5em 3em;
    gap: 5em;
    margin: 0;
  }

  .textContainer {
    gap: 1em;
  }

  .exploreButton {
    width: 9.375em;
    height: 9.375em;
  }
}
