.container {
  display: flex;
  background-image: url("../public/assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1.625em;
  padding: 13.25em 0 10.3125em 7.25em;
  width: 100%;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto 4fr;
  justify-items: end;
  align-items: center;
  column-gap: 5.5%;
  width: 100%;
}

.sliderButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-self: center;
}

.sliderButton {
  width: 5em;
  height: 5em;
  border-radius: 10em;
  background-color: transparent;
  color: white;
  outline: none;
  border: 1px solid var(--color-grey);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.sliderButton:hover {
  border: 1px solid var(--color-white);
}

.active {
  background-color: var(--color-white);
  color: var(--color-black);
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cluster {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.white {
  color: var(--color-white);
}

.descriptionTextContainer {
  max-width: 27.75em;
}

@media screen and (max-width: 1024px) {
  .content {
    column-gap: 2.5%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-image: url("../public/assets/technology/background-technology-tablet.jpg");
  }

  .customHeader {
    margin-left: 2.375em;
  }

  .main {
    padding: 8.5em 0 6em;
    gap: 3.75em;
  }

  .content {
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    row-gap: 2.75em;
  }

  .image {
    width: 100%;
    grid-row: 1/2;
  }

  .sliderButtonsContainer {
    margin-top: 0.75em;
    flex-direction: row;
    gap: 1em;
  }

  .sliderButton {
    width: 3.75em;
    height: 3.75em;
  }

  .cluster {
    gap: 1em;
  }

  .description {
    text-align: center;
    align-items: center;
  }

  .descriptionTextContainer {
    max-width: 28.625em;
  }
}

@media screen and (max-width: 480px) {
  .container {
    background-image: url("../public/assets/technology/background-technology-mobile.jpg");
  }

  .main {
    padding: 5.5em 0 5em;
    align-items: center;

    gap: 2em;
  }

  .content {
    gap: 1.625em;
  }

  .sliderButtonsContainer {
    margin-top: 0.5em;
  }

  .cluster {
    gap: 0.5em;
  }

  .descriptionTextContainer {
    max-width: 20.5em;
  }
}
